@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*************************************************** CoverPhoto And Heading CSS ****************************************************/
.coverPhoto {
  position: relative;
  height: 46vh;
  background-image: url(../../assets/home/suggested_group2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.editCoverPhoto {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}
.editCoverPhoto path {
  fill: white;
}
.profileWrapper {
  position: relative;
}

.editProfilePhoto {
  position: absolute;
  top: -105px;
  right: 550px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.profilePhoto {
  width: 12em;
  margin-top: -130px;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
  position: absolute;
  left: -10rem;
  top: 5rem;
  background: var(--bg-color);
}
.WholeSellerText div {
  position: relative;
  left: 1rem !important;
  width: fit-content;
}
.WholeSellerText div h1 {
  width: fit-content;
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  left: 2rem;
  color: #171725;
  font-family: var(--font-family-poppins) !important;
}
.WholeSellerText div h4 {
  width: 26rem !important;
  position: relative;
  font-size: 1.2rem;
  text-align: start;
  color: #92929d;
  left: 1.5rem;
  font-family: var(--font-family-roboto) !important;
}

/*************************************************** Featured Panel ****************************************************/
.featuredPanel {
  padding: 2rem 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 8px -2px #80808082;
  width: 100%;
  position: relative;
  /* display: none; */
}
.featuredPanel h5 {
  font-family: var(--font-family-poppins) !important;
  font-weight: 600;
}
.infoIcon {
  color: #514f4f8c;
  font-size: 0rem;
  border-radius: 50%;
  border: 2px solid #514f4f8c;
  padding: 4px;
  width: 13px;
  height: 13px;
}
.featuredPhoto {
  height: 25rem;
  width: 100%;
  cursor: pointer;
  position: relative;
  top: 0rem;
}
.featuredPhotoRow {
  overflow: hidden;
}
.featuredMapWrapper {
  overflow: hidden;
  border-radius: 10px;
  margin-top: 0.8rem;
  background: #9393931f;
  object-fit: contain;
  height: 31rem;
  box-shadow: 1px 1px 4px 4px #80808030;
  width: 23rem;
  height: 31rem !important;
}
.featuredMapDiv {
  display: flex;
  margin-left: 1rem;
  justify-content: start;
  align-items: center;
  margin-top: 1rem;
}
.featuredMapDiv span {
  margin-left: 0.5rem;
}
.FeaturedHeadingText {
  font-size: 1rem;
  margin-bottom: 0 !important;
  margin-top: 0.3rem;
  font-weight: bold;
  font-family: var(--font-family-poppins) !important;
}
.featuredNameDiv p:nth-child(1) {
  margin: 0 !important;
  font-size: 0.7rem;
  color: gray;
  font-family: var(--font-family-roboto) !important;
}
.featuredNameDiv p:nth-child(2) {
  margin: 2px 0px 0px 0px !important;
  padding: 0rem 0.5rem !important;
  font-size: 0.6rem;
  background: #80808069;
  margin-left: 0.3rem !important;
  color: #92929d;
  font-family: var(--font-family-roboto) !important;
}
.featuredTextArea {
  height: 6rem;
  overflow-y: scroll;
  margin: 1rem 0.5rem !important;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  width: 100%;
}
.featuredTextArea p {
  font-size: 0.8rem;
  padding-right: 0.9rem;
  padding-left: 0.5rem;
  width: 100%;
  font-family: var(--font-family-roboto) !important;
}
/*************************************************** WholeSeller Panel posting and commentArea****************************************************/
.PostCommentWrapper {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 8px -2px #80808082;
  border: none;
}
.postingHeadingTextArea {
  margin: 0px 0px 0px 10px !important;
}
.postingHeadingTextArea div p:nth-child(1) {
  color: #92929d;
  width: fit-content;
  font-family: var(--font-family-roboto) !important;
  height: fit-content;
  font-size: 0.8rem;
  margin: 0 !important;
}
.postingHeadingTextArea div p:nth-child(2) {
  background-color: #80808069;
  color: #92929d;
  font-size: 0.6rem;
  width: fit-content;
  font-family: var(--font-family-roboto) !important;
  margin: 3px 4px !important;
  height: fit-content;
}
.postingAreaimg {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.CommentBox {
  position: absolute;
  bottom: 0;
}
.postingAreaHeadingCircle {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.postingHeadingText {
  margin: 0 !important;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: var(--font-family-poppins) !important;
}
.postingAreaThreeDots {
  position: absolute;
  right: 2rem;
  top: 1rem;
  display: flex;
  gap: 2px;
}
.faEllipsis {
  font-size: 2rem;
  cursor: pointer;
}
.AddpostArea p {
  color: #44444f;
  font-size: 1rem;
  width: 100%;
  font-family: var(--font-family-roboto) !important;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #92929d5c;
}
.PostingPhotos {
  display: flex;
  padding: 2rem 0rem 0rem 0rem;
}
.PostingPhotos span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
  justify-content: space-between;
}
.PhotoOne,
.PhotoTwo {
  display: block;
  height: 12rem;
  width: 25rem;
  border-radius: 43px;
  object-fit: cover;
  cursor: pointer;
}
.PhotoThree {
  display: block;
  height: 25rem;
  width: 25rem;
  margin-left: 8rem;
  border-radius: 43px;
  object-fit: cover;
  cursor: pointer;
}
.CommentField {
  position: relative;
  height: 5.3rem !important;
}
.ViewComment {
  color: var(--primary-color);
  letter-spacing: 0.2px;
  font-weight: 600;
  cursor: pointer;
  height: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background: none;
  width: fit-content;
  position: absolute;
  right: 0;
}
.ViewcommentInputField {
  display: flex !important;
  align-items: center;
  border: 1px solid #c1c1c4;
  margin-left: 10px;
  width: 95%;
  border-radius: 40px;
}
.ViewcommentInputField input {
  height: 100%;
  border: none;
  outline: none;
  width: 137rem;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  padding-left: 1rem;
}
.FaceSmile {
  font-size: 2rem;
  cursor: pointer;
}
.Paperclip {
  font-size: 1.7rem;
  cursor: pointer;
}
/*************************************************** Media query for (1280PX) ****************************************************/
@media all and (max-width: 1280px) {
  .wholeSellerInputField {
    width: 85%;
  }
  .WholeSellerText div {
    left: 7rem !important;
    bottom: 0.5rem;
  }
  .WholeSellerText div h4 {
    width: 17.5rem !important;
    position: relative;
    left: 1rem;
    font-size: 1rem;
  }
  .profilePhoto {
    left: -1rem !important;
  }
  .underLine {
    right: -22px;
  }
  .posts:hover .underLine {
    transform: translateY(138%);
  }
  .postName {
    font-size: 1rem !important;
  }
  .postValue {
    font-size: 15px !important;
  }
  .PostingPhotos {
    justify-content: center;
  }
  .profilePhoto {
    width: 9rem;
  }
  .postingAreaHeadingCircle {
    width: 2.3rem;
    height: 2.3rem;
  }
  .postingHeadingText {
    font-size: 1.2rem;
  }
  .postingHeadingTextArea {
    margin-top: 0.5rem;
  }
  .postingHeadingTextArea div p:nth-child(2) {
    font-size: 9px;
  }
  .postingHeadingTextArea div p {
    font-size: 0.8rem;
  }
  .AddpostArea {
    font-size: 0.9rem;
  }
  .AddpostArea p {
    padding: 0rem 0rem 0rem 3rem !important;
  }
  .ViewComment {
    margin-top: 0.8rem !important;
    font-size: 0.8rem;
  }
  .ViewcommentInputField input {
    width: 105rem !important;
  }
  .PhotoOne,
  .PhotoTwo {
    height: 12.4rem;
    width: 19.5rem;
    margin-left: 0.6rem !important;
  }
  .PostingPhotos span {
    margin: 0 !important;
  }
  .PhotoThree {
    height: 25rem;
    width: 19.5rem;
    margin-left: 0rem !important;
  }
  .faEllipsis {
    font-size: 1rem;
  }
  .postingAreaimg {
    width: 3rem;
    height: 3rem;
  }
  .featuredPanel {
    width: 100% !important;
  }
  .featuredMapWrapper {
    width: 20rem !important;
    height: 27rem !important;
  }
}
@media all and (max-width: 1024px) {
  .ViewcommentInputField input {
    width: 96vw !important;
  }
  .PostingPhotos {
    justify-content: center;
  }
}
/*************************************************** Media query for (810PX) ****************************************************/

@media all and (max-width: 820px) {
  .WholeSellerText div {
    left: 7rem !important;
    bottom: 0.5rem;
  }
  .WholeSellerText div h4 {
    width: 17.5rem !important;
    position: relative;
    left: 1rem;
    font-size: 1rem;
  }
  .profilePhoto {
    left: -1rem !important;
    top: 6rem !important;
  }
  .profilePhoto {
    width: 9rem;
  }
  .postingAreaHeadingCircle {
    width: 2.3rem;
    height: 2.3rem;
  }
  .postingHeadingText {
    font-size: 1.2rem;
  }
  .postingHeadingTextArea {
    margin-top: 0.5rem;
  }
  .postingHeadingTextArea div p:nth-child(2) {
    font-size: 9px;
  }
  .postingHeadingTextArea div p {
    font-size: 0.8rem;
  }
  .AddpostArea {
    font-size: 0.9rem;
  }
  .AddpostArea p {
    padding: 0rem 0rem 0rem 3rem !important;
  }
  .ViewComment {
    margin-top: 0.8rem !important;
    font-size: 0.8rem;
  }
  .ViewcommentInputField {
    width: 90% !important;
  }
  .ViewcommentInputField input {
    width: 49rem;
  }
  .PhotoOne,
  .PhotoTwo {
    height: 12.4rem;
    width: 19.5rem;
    margin-left: 0.6rem !important;
  }
  .PostingPhotos span {
    margin: 0 !important;
  }
  .PhotoThree {
    height: 25rem;
    width: 19.5rem;
    margin-left: 0rem !important;
  }
  .faEllipsis {
    font-size: 1rem;
  }
  .postingAreaimg {
    width: 3rem;
    height: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .coverPhoto {
    position: relative;
    height: 25vh;
    background-image: url(../../assets/home/suggested_group2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }
}

/*************************************************** Media query for (430PX) ****************************************************/

@media all and (max-width: 430px) {
  .profilePhoto {
    left: 0.5rem !important;
    top: 9rem !important;
  }
  .WholeSellerText div {
    left: 8rem !important;
  }
  .WholeSellerText div h4 {
    width: 16.5rem !important;
    position: relative;
    left: 1rem;
    font-size: 1rem;
  }
  .profilePhoto {
    width: 9rem;
    top: 5rem;
  }
  .ViewcommentInputField {
    width: 90% !important;
  }
  .ViewcommentInputField input {
    width: 98vw !important;
  }
  .postingHeadingTextArea div p:nth-child(1) {
    font-size: 1rem !important;
  }
  .postingHeadingText {
    padding: 0 !important;
    font-size: 1.3rem !important;
  }

  .ViewComment {
    font-size: 0.8rem !important;
    top: -0.5rem;
  }
  .PhotoOne,
  .PhotoTwo {
    height: 9.6rem;
    width: 13rem;
    margin-left: 0.5rem !important;
  }
  .PhotoThree {
    height: 20rem;
    width: 13rem;
    margin-left: 0 !important;
  }
  .faEllipsis {
    font-size: 1rem;
  }
  .postingAreaimg {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.2rem;
  }
  .featuredTextArea p {
    letter-spacing: 0.1px;
    font-size: 0.9rem;
  }
}

/*************************************************** Media query for (360PX) ****************************************************/

@media all and (max-width: 375px) {
  .AddpostArea {
    font-size: 0.8rem;
    letter-spacing: 0.1px !important;
  }
  .postingAreaHeadingCircle {
    margin-bottom: 0.5rem;
  }
  .postingHeadingText {
    font-size: 1.2rem !important;
  }
  .CommentField {
    height: 6rem !important;
  }
  .ViewcommentInputField {
    width: 87% !important;
  }
  .ViewComment {
    font-size: 0.8rem !important;
  }
  .postingHeadingTextArea div p:nth-child(1) {
    font-size: 1rem !important;
  }
  .postingHeadingText {
    font-size: 1.3rem !important;
  }

  .AddpostArea p {
    font-size: 1.1rem !important;
  }
  .PhotoOne,
  .PhotoTwo {
    height: 7.6rem;
    width: 11.5rem;
    margin-left: 0.5rem !important;
  }
  .PhotoThree {
    height: 16rem;
    width: 10.5rem;
    margin-left: 0rem !important;
  }
  .faEllipsis {
    font-size: 1rem;
  }
  .postingAreaimg {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.2rem;
  }
  .featuredTextArea p {
    letter-spacing: 0.1px;
    font-size: 0.9rem;
  }
  .FeaturedHeadingText {
    font-size: 1rem !important;
  }
  .featuredNameDiv p:nth-child(1) {
    width: fit-content;
  }
  .featuredNameDiv p:nth-child(2) {
    width: fit-content;
  }
}
