
.coverPhoto {
    position: relative;
    height: 45vh;
    background-image: url(../../assets/home/suggested_group.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.editCoverPhoto {
    position: absolute;
    top: 20px;
    right: 20px;
}


.profileWrapper {
    position: relative;
}

.editProfilePhoto{
    position: absolute;
    top: -120px;
    right: 550px;
    background-color: red;
}

.profilePhoto {
    width: 25%;
    margin-top: -130px;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
}


@media only screen and (max-width:600px) {
    .coverPhoto {
        height: 25vh;
    }
    .profilePhoto {
        width: 35%;
        margin-top: -55px;
    }
    .editProfilePhoto{
        top: -45px;
        right: 150px;
        background-color: red;
    }
}
