.coverPhoto {
  position: relative;
  height: 45vh;
  background-image: url(../../assets/home/suggested_group2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.editCoverPhoto {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 50%;
  display: flex;
}

.profileWrapper {
  z-index: 1;
  flex-direction: row-reverse;
}

.editProfilePhoto {
  position: absolute;
  top: -150px;
  right: 10% !important;

  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  bottom: 10rem;
  right: 0rem;
}

.profilePhoto {
  width: 15rem;
  margin-top: -130px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid var(--primary-color);
}

.heading h1 {
  font-family: var(--font-family-poppins) !important;
  font-weight: 600 !important;
}
.heading h4 {
  font-family: var(--font-family-roboto) !important;
  color: #44444f !important;
}
.about {
  font-family: var(--font-family-poppins) !important;
  font-weight: 500 !important;
}
.aboutLinks {
  list-style: none;
  text-decoration: none;
  color: var(--font-primary-color);
}

.manageUsers {
  background: rgba(219, 54, 134, 0.326);
  box-shadow: 0px 2px 15px rgba(181, 181, 190, 0.15);
  border-radius: 15px;
  padding: 0px 20px 0px 20px;
  width: max-content;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.manageWholeSeller {
  background: #6fc72396;
  box-shadow: 0px 2px 15px rgba(181, 181, 190, 0.15);
  border-radius: 15px;
  padding: 0px 20px 0px 20px;
  width: max-content;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btnName {
  font-family: var(--font-family-roboto) !important;
}
.manager {
  color: #70d419;
}

.user {
  color: rgba(255, 30, 139, 0.658);
}



.editIcon {
  color: white;
  cursor: pointer;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .chart {
    width: 50% !important;
  }
}

@media only screen and (max-width: 600px) {
  .coverPhoto {
    height: 25vh;
  }

  .profilePhoto {
    width: 35%;
    margin-top: -55px;
    left: 1rem;
    position: relative;
    
  }

  .editProfilePhoto {
    top: -6rem;
    background-color: var(--primary-color);
    left: 1rem;
  }

  .chart {
    width: 100% !important;
  }
  .manageUsers {
    border-radius: 10px;
    height: 40px;
  }
  
  .manageWholeSeller {
    border-radius: 10px;
    height: 40px;
  }
}


