.welComeWrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headings {
  color: var(--font-secondary-color);
  margin: 0 !important;
  width: auto;
}

.anchor {
  color: var(--font-secondary-color);
  text-decoration: none;
}
.anchor:hover {
  color: var(--font-secondary-color);
  text-decoration: none;
}

.loginOptionRow {
  width: 300px;
  height: 85px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.loginOptionMiddleRow {
  width: 300px;
  height: 85px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginOptionIcon {
  border: 3px white solid;
  border-radius: 10px 0px 0px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.loginOptionTxt {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  height: 100%;
  display: flex;
  align-items: center;
}

.loginOptionHeadings {
  color: var(--font-inter-color);
  font-weight: 500 !important;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.lines {
  width: 100%;
  color: white;
  opacity: 1;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .loginOptionTxt {
    display: none;
  }
  .loginOptionIcon {
    border: 3px white solid;
    border-radius: 10px 10px 10px 10px;
    width: 175px !important;
  }

  .siteLogo {
    width: 80%;
  }

  .headings,
  .anchor {
    font-size: 1.5rem !important;
  }
}
