.loginWrapper {
  height: 100vh;
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
}

.loginPageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 40%;
}

.headings {
  color: #555454;
  text-decoration: none !important;
  width: max-content;
  margin-bottom: 10px;
}
.forget {
  color: #555454;
  text-decoration: none !important;
  width: max-content;
}
input.check:checked {
  color: var(--primary-color) !important;
}

.anchor {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}

.anchor:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.loginOptionRow {
  width: 300px;
  height: 85px;
  padding-top: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginFrom {
  width: 300px;
  height: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginInputs {
  border: 1px solid #808080e3;
  outline: none;
}

.loginInputs:hover {
  outline: none;
}

.SumbitBtn {
  height: 3rem;
}

.loginOptionIcon {
  border: 3px var(--primary-color) solid;
  border-radius: 10px 0px 0px 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.loginOptionTxt {
  background-color: var(--primary-color);
  border-radius: 0px 10px 10px 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.loginWithGoogleRow {
  width: 17.5rem;
}

.loginOptionHeadings {
  color: var(--font-secondary-color);
  font-weight: 600 !important;
}

.Checkbox {
  cursor: pointer;
}

.lines {
  width: 100%;
  color: var(--primary-color);
  opacity: 1;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .loginOptionTxt {
    display: none;
  }

  .loginOptionIcon {
    border: 3px var(--primary-color) solid;
    border-radius: 10px 10px 10px 10px;
  }

  .loginOptionRow {
    padding: 0px;
  }

  .loginWithGoogleRow {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
}

@media only screen and (max-width: 600px) {
  .loginOptionRow {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loginWithGoogleRow {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 6.5rem !important;
  }
}

@media only screen and (max-width: 280px) {
  .loginFrom {
    width: 260px;
  }
}
