@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*************************************************** CoverPhoto And Heading CSS ****************************************************/
.coverPhoto {
  position: relative;
  height: 60vh;
  background-image: url(../../assets/home/suggested_group2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.editCoverPhoto {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}
.editCoverPhoto path {
  fill: white;
}
.profileWrapper {
  position: relative;
}

.editProfilePhoto {
  position: absolute;
  top: -105px;
  right: 550px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.profilePhoto {
  width: 12em;
  margin-top: -130px;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
  position: absolute;
  left: -10rem;
  top: 5rem;
  background: var(--bg-color);
}

.WholeSellerText div {
  position: relative;
  left: 1rem !important;
  width: fit-content;
}
.WholeSellerText div h1 {
  width: fit-content;
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  left: 2rem;
  font-family: var(--font-family-poppins) !important;
  color: #171725;
}
.WholeSellerText div h4 {
  width: 26rem !important;
  position: relative;
  font-size: 1.2rem;
  text-align: start;
  color: #92929d;
  left: 1.5rem;
  font-family: var(--font-family-roboto) !important;
}
/*************************************************** Sliders of WholeSeller Panel CSS ****************************************************/

.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
  z-index: 10;
}
.posts p {
  font-family: var(--font-family-poppins) !important;
}
.underLine {
  position: absolute;
  width: 100px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 10rem;
  right: -18px;
  transition: all 0.4s;
  transform: translateY(160%);
}
.posts:hover .underLine {
  transform: translateY(135%);
}
.posts:hover .postName,
.posts:hover .postValue {
  color: var(--primary-color);
}
.postName {
  width: fit-content;
  color: var(--primary-color);
  margin-bottom: 5px !important;
  letter-spacing: 1px;
}
.postValue {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}

/*************************************************** WholeSellerInputArea CSS ****************************************************/

.WholeSellerInputArea {
  border: none;
  border-radius: 7px;
  box-shadow: 0px 1px 5px -3px black;
  position: relative;
  padding: 0 !important;
  height: 8.5rem !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.WholeSellerInputimg {
  width: 3rem;
  height: 3rem;
  position: relative;
  left: 21px;
  border-radius: 50%;
}
.wholeSellerInputField {
  height: 2.5rem;
  border-radius: 31px;
  border: 1px solid gray;
  padding: 1rem;
  outline: none;
  width: 90%;
  position: relative;
  left: 2rem;
}

.WholeSellerLowerSection {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.WholeSellerLowerSection div {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  align-items: center;
}
.WholeSellerLowerSection div p {
  font-family: var(--font-family-roboto) !important;
}
.WholeSellerimg {
  color: var(--primary-color);
  padding: 0px 20px 0px 20px;
  font-size: 1.8rem;
}

/*************************************************** TotalMembers CSS ****************************************************/

.TotalMembers {
  height: 9rem;
  border-radius: 7px;
  background: #e8e8e8;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.TotalMembers div {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  top: 2rem;
  left: 1.8rem;
}
.TotalMembers p {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 600;
  color: #757575;
  position: relative;
  top: 1.5rem;
  left: 3.2rem;
  font-family: var(--font-family-poppins) !important;
}
.TotalMembers code {
  font-size: 2rem;
  font-weight: 900;
  position: relative;
  left: 4rem;
  font-family: var(--font-family-poppins) !important;
  top: 1rem;
}
.TotalMembersCircleSection {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  width: 4rem;
  height: 1rem;
}

/*************************************************** Manage Buttons CSS ****************************************************/

.manageUsers {
  background: rgba(219, 54, 134, 0.326);
  box-shadow: 0px 2px 15px rgba(181, 181, 190, 0.15);
  border-radius: 15px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.manageWholeSeller {
  background: #e5fbd3;
  box-shadow: 0px 2px 15px rgba(181, 181, 190, 0.15);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.manager {
  color: #70d419;
}
.user {
  color: rgba(255, 30, 139, 0.658);
}
.WholeSellerManageBtn {
  font-family: var(--font-family-roboto) !important;
}
/*************************************************** WholeSeller Panel posting and commentArea****************************************************/
.PostCommentWrapper {
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 8px -2px #80808082;
  border: none;
}
.postingHeadingTextArea {
  margin: 0px 0px 0px 10px !important;
}
.postingHeadingTextArea div p:nth-child(1) {
  color: #92929d;
  width: fit-content;
  height: fit-content;
  font-size: 0.8rem;
  margin: 0 !important;
  font-family: var(--font-family-roboto) !important;
}
.postingHeadingTextArea div p:nth-child(2) {
  background-color: #80808069;
  color: #92929d;
  font-size: 0.6rem;
  width: fit-content;
  font-family: var(--font-family-roboto) !important;
  margin: 3px 4px !important;
  height: fit-content;
}
.postingAreaimg {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.CommentBox {
  position: absolute;
  bottom: 0;
}
.postingAreaHeadingCircle {
  width: 3rem;
  height: 3rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  bottom: 3px;
}
.postingHeadingText {
  margin: 0 !important;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: var(--font-family-poppins) !important;
}
.postingAreaThreeDots {
  position: absolute;
  right: 2rem;
  top: 1rem;
  display: flex;
  gap: 2px;
}
.faEllipsis {
  font-size: 2rem;
  cursor: pointer;
}
.AddpostArea p {
  color: #44444f;
  font-size: 1rem;
  width: 100%;
  font-family: var(--font-family-roboto) !important;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #92929d5c;
}
.PostingPhotos {
  display: flex;
  padding: 2rem 0rem 0rem 0rem;
  justify-content: center;
}
.PostingPhotos span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
  justify-content: space-between;
}
.PhotoOne,
.PhotoTwo {
  display: block;
  height: 12rem;
  width: 25rem;
  border-radius: 43px;
  object-fit: cover;
  cursor: pointer;
}
.PhotoThree {
  display: block;
  height: 25rem;
  width: 25rem;
  margin-left: 8rem;
  border-radius: 43px;
  object-fit: cover;
  cursor: pointer;
}
.CommentField {
  position: relative;
  height: 5.3rem !important;
}
.ViewComment {
  color: var(--primary-color);
  letter-spacing: 0.2px;
  font-weight: 600;
  cursor: pointer;
  height: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  background: none;
  width: fit-content;
  position: absolute;
  right: 0;
}
.ViewcommentInputField {
  display: flex !important;
  align-items: center;
  border: 1px solid #c1c1c4;
  margin-left: 10px;
  width: 95%;
  border-radius: 40px;
}
.ViewcommentInputField input {
  height: 100%;
  border: none;
  outline: none;
  width: 137rem;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  padding-left: 1rem;
}
.FaceSmile {
  font-size: 2rem;
  cursor: pointer;
}
.Paperclip {
  font-size: 1.7rem;
  cursor: pointer;
}

/*************************************************** Media query for (1280PX) ****************************************************/
@media all and (max-width: 1280px) {
  .wholeSellerInputField {
    width: 85%;
  }
  .WholeSellerText div {
    left: 7rem !important;
    bottom: 0.5rem;
  }
  .WholeSellerText div h4 {
    width: 17.5rem !important;
    position: relative;
    left: 1rem;
    font-size: 1rem;
  }
  .profilePhoto {
    left: -1rem !important;
  }
  .PostingPhotos {
    justify-content: center;
  }
  .underLine {
    right: -22px;
  }
  .posts:hover .underLine {
    transform: translateY(138%);
  }
  .postName {
    font-size: 1rem !important;
  }
  .postValue {
    font-size: 15px !important;
  }
  .profilePhoto {
    width: 9rem;
  }
  .postingAreaHeadingCircle {
    width: 2.3rem;
    height: 2.3rem;
  }
  .postingHeadingText {
    font-size: 1.2rem;
  }
  .postingHeadingTextArea {
    margin-top: 0.5rem;
  }
  .postingHeadingTextArea div p:nth-child(2) {
    font-size: 9px;
  }
  .postingHeadingTextArea div p {
    font-size: 0.8rem;
  }
  .AddpostArea {
    font-size: 0.9rem;
  }
  .AddpostArea p {
    padding: 0rem 0rem 0rem 3rem !important;
  }
  .ViewComment {
    margin-top: 0.8rem !important;
  }
  .ViewcommentInputField input {
    width: 105rem !important;
  }
  .PhotoOne,
  .PhotoTwo {
    height: 12.4rem;
    width: 19.5rem;
    margin-left: 0.6rem !important;
  }
  .PostingPhotos span {
    margin: 0 !important;
  }
  .PhotoThree {
    height: 25rem;
    width: 19.5rem;
    margin-left: 0rem !important;
  }
  .faEllipsis {
    font-size: 1rem;
  }
  .postingAreaimg {
    width: 3rem;
    height: 3rem;
  }
}
@media all and (max-width: 1024px) {
  .ViewcommentInputField input {
    width: 96vw !important;
  }
  .ViewcommentInputField {
    width: 90% !important;
  }
  .PostingPhotos {
    justify-content: center;
  }
  .coverPhoto {
    height: 40vh;
  }
}
/*************************************************** Media query for (820PX) ****************************************************/

@media all and (max-width: 820px) {
  .wholeSellerInputField {
    width: 85%;
  }
  .WholeSellerText div {
    left: 7rem !important;
    bottom: 0.5rem;
  }
  .WholeSellerText div h4 {
    width: 17.5rem !important;
    position: relative;
    left: 1rem;
    font-size: 1rem;
  }
  .TotalMembers div {
    /* top: 1.9rem !important; */
  }
  .TotalMembers p {
    /* left: 4rem; */
  }
  .profilePhoto {
    left: -1rem !important;
    top: 6rem !important;
  }
  .underLine {
    right: -22px;
  }
  .posts:hover .underLine {
    transform: translateY(138%);
  }
  .postName {
    font-size: 1rem !important;
  }
  .postValue {
    font-size: 15px !important;
  }
  .profilePhoto {
    width: 9rem;
  }
  .postingAreaHeadingCircle {
    width: 2.3rem;
    height: 2.3rem;
  }
  .postingHeadingText {
    font-size: 1.2rem;
  }
  .postingHeadingTextArea {
    margin-top: 0.5rem;
  }
  .postingHeadingTextArea div p:nth-child(2) {
    font-size: 9px;
  }
  .postingHeadingTextArea div p {
    font-size: 0.8rem;
  }
  .AddpostArea {
    font-size: 0.9rem;
  }
  .AddpostArea p {
    padding: 0rem 0rem 0rem 3rem !important;
  }
  .ViewComment {
    margin-top: 0.8rem !important;
  }
  .ViewcommentInputField {
    width: 90% !important;
  }
  .ViewcommentInputField input {
    width: 49rem;
  }
  .PhotoOne,
  .PhotoTwo {
    height: 12.4rem;
    width: 19.5rem;
    margin-left: 0.6rem !important;
  }
  .PostingPhotos span {
    margin: 0 !important;
  }
  .PhotoThree {
    height: 25rem;
    width: 19.5rem;
    margin-left: 0rem !important;
  }
  .faEllipsis {
    font-size: 1rem;
  }
  .postingAreaimg {
    width: 3rem;
    height: 3rem;
  }
  .coverPhoto {
    height: 35vh;
  }
}

@media only screen and (max-width: 600px) {
  .coverPhoto {
    height: 20vh;
  }

  .manageUsers {
    height: 35px;
    border-radius: 10px;
  }
  .manageWholeSeller {
    height: 35px;
    border-radius: 10px;
  }
}

/*************************************************** Media query for (430PX) ****************************************************/

@media all and (max-width: 430px) {
  .profilePhoto {
    left: 0.5rem !important;
    top: 9rem !important;
  }
  .WholeSellerText div {
    left: 8rem !important;
  }
  .WholeSellerText div h4 {
    width: 16.5rem !important;
    position: relative;
    left: 1rem;
    font-size: 1rem;
  }
  .wholeSellerInputField {
    width: 80%;
    margin-left: 1rem;
  }
  .underLine {
    right: -22px;
  }
  .posts:hover .underLine {
    transform: translateY(125%);
  }
  .profilePhoto {
    width: 9rem;
    top: 5rem;
  }

  .ViewcommentInputField {
    width: 95% !important;
  }
  .ViewcommentInputField input {
    width: 68vw !important;
  }

  .postingHeadingTextArea div p:nth-child(1) {
    font-size: 1rem;
    margin-top: 0.2rem !important;
  }
  .AddpostArea p {
    padding: 0 !important;
    font-size: 1.1rem !important;
  }
  .ViewComment {
    font-size: 0.8rem !important;
    top: -0.5rem;
  }
  .PhotoOne,
  .PhotoTwo {
    height: 9.6rem;
    width: 13rem;
    margin-left: 0.5rem !important;
  }
  .PhotoThree {
    height: 20rem;
    width: 13rem;
    margin-left: 0 !important;
  }
  .faEllipsis {
    font-size: 1rem;
  }
  .postingAreaimg {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.2rem;
  }
}

/*************************************************** Media query for (375PX) ****************************************************/

@media all and (max-width: 375px) {
  .WholeSellerLowerSection div p {
    font-size: 0.9rem;
  }
  .AddpostArea {
    font-size: 0.8rem;
    letter-spacing: 0.1px !important;
  }
  .postingAreaHeadingCircle {
    margin-bottom: 0.5rem;
  }
  .postingHeadingText {
    font-size: 1.3rem !important;
  }
  .CommentField {
    height: 6rem !important;
  }
  .ViewcommentInputField {
    width: 95% !important;
  }
  .ViewComment {
    font-size: 0.8rem !important;
  }
  .AddpostArea p {
    font-size: 0.9rem;
  }
  .PhotoOne,
  .PhotoTwo {
    height: 7.6rem;
    width: 11.5rem;
    margin-left: 0.5rem !important;
  }
  .PhotoThree {
    height: 16rem;
    width: 10.5rem;
    margin-left: 0rem !important;
  }
  .faEllipsis {
    font-size: 1rem;
  }
  .postingAreaimg {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.2rem;
  }
}
