.Heading {
  background-image: linear-gradient(
      to bottom,
      rgba(0.5, 245, 360, 0),
      rgb(1, 1, 1)
    ),
    url("/src/assets/home/suggested_group2.jpg");
  height: 40vh;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 100%;
}
.Heading p {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 1px;
  font-family: var(--font-family-roboto) !important;
}

.mapWrapper {
  border-radius: 12px;
  padding: 16px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px #80808099;
}
.imgWrapper {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #808080d4;
}
.buttons {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
}
.NewRequestNamePanel h3 {
  font-size: 1.5rem;
  font-family: var(--font-family-poppins) !important;
  font-weight: 500 !important;
}
.NewRequestNamePanel h5,
.mapWrapper p {
  font-size: 1rem;
  color: #92929d;
  font-family: var(--font-family-roboto) !important;
}
.NewRequestNamePanel div span {
  width: 6px;
  height: 6px;
  display: block;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: relative;
  left: 4px;
}

.line {
  width: 50rem;
  height: 1px;
  background-color: #b5b5b8;
  left: 50% !important;
  position: relative;
  transform: translate(-50%);
  margin-top: 3rem;
}

/* lower part */
.LowerPartContainer {
  width: 52rem !important;
}
.LowerPartRow {
  padding: 0.5rem;
  box-shadow: 0px 1px 5px 1px #80808099;
  border-radius: 62px;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.LowerPartRow:before {
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #db3685;

  opacity: 0.3;
  border-radius: 50px;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: ease-in 0.5s;
  z-index: -1;
}
.OptionName {
  font-weight: bold;
  font-size: 1rem;
  font-family: var(--font-family-roboto) !important;
}
.Options {
  width: 3.5rem !important;
  padding: 1rem;
  border-radius: 50%;
  background: #d9d9d9;
  display: flex;
  height: 3.5rem !important;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.Optionsicon {
  color: rgb(83, 83, 83);
  transition: 1s;
  font-size: 1.2rem !important;
}
.LowerPartHeading {
  margin-top: 2rem;
  font-weight: bold;
}
.LowerPartRow:hover .Options {
  background-color: var(--primary-color);
}
.LowerPartRow:hover:before,
.LowerPartRow:hover .Optionsicon {
  transform: translate(0);
  color: white;
}
@media all and (min-width: 1024px) {
  .CardContainer {
    width: 35rem !important;
  }
  .line {
    width: 50rem !important;
  }
}
@media all and (max-width: 820px) {
  .Heading {
    height: 20rem !important;
  }
  .Heading p {
    font-size: 2.5rem !important;
    text-align: center;
  }
  .CardContainer {
    width: 25rem !important;
  }
  .line {
    width: 35rem;
  }
  .LowerPartContainer {
    width: 35rem !important;
  }
}
@media all and (max-width: 420px) {
  .Heading {
    height: 15rem !important;
  }
  .Heading p {
    font-size: 2rem !important;
  }
  .CardContainer {
    width: 22rem !important;
  }
  .imgWrapper {
    width: 100px;
  }
  .line {
    width: 75%;
  }
  .LowerPartContainer {
    width: 30rem !important;
  }
}
