.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  background-image: linear-gradient(
      to bottom,
      rgba(0.5, 245, 360, 0),
      rgb(1, 1, 1)
    ),
    url("/src/assets/home/suggested_group2.jpg");
  height: 40vh;
  overflow: hidden;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading p {
  margin: 0 !important;
  color: white;
  font-weight: 600;
  font-family: var(--font-family-roboto) !important;
  font-size: 3rem !important;
  width: max-content !important;
  letter-spacing: 1px;
}
.wrapper form {
  position: relative;
  top: 3rem;
  border: 1px solid #808080db;
  width: 30rem;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  height: 3rem;
}
.wrapper input {
  width: 27rem;
  outline: none;
  border: none;
  float: right;
}
.displayUsers {
  position: relative;
  top: 11rem;
}
.wrapper input::placeholder {
  text-transform: capitalize;
  font-size: 1rem;
  color: #171725;
}
.wrapper input[type="text"] {
  font-size: 1.2rem;
  color: #171725;
}
.sliders {
  position: relative;
  top: 7rem;
  width: 75%;
  overflow: hidden;
}
.sliders a {
  text-decoration: none;
  color: #abb3bb;
  font-weight: 600;
  transition: all 0.3s;
}
.sliders a:nth-child(1) {
  color: var(--primary-color);
  width: fit-content;
  display: flex;
  margin: 0 !important;
}
.sliders a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
/* // new Css */
.mapWrapper {
  border-radius: 12px;
  padding: 16px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px #80808099;
  cursor: pointer;
  transition: all 0.3s;
  z-index: -1;
}
.mapWrapper:hover {
  transform: scale(1.04);
}
.imgWrapper {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #808080d4;
}
.buttons {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
}
.NewRequestNamePanel p {
  font-size: 1.2rem;
  margin: 0 !important;
  font-family: var(--font-family-poppins) !important;
}
.NewRequestNamePanel code {
  font-size: 1rem;
  color: #979797;
  font-family: var(--font-family-poppins) !important;
}
.search_icon {
  color: grey;
  cursor: pointer;
  width: 3rem;
  height: 18px;
  padding-left: 5px;
}
@media all and (min-width: 1024px) {
  .sliders a {
    font-size: 1rem;
  }
  .heading p {
    font-size: 1.5rem;
    text-align: center;
  }
  .wrapper form {
    width: 30rem !important;
    height: 2.5rem;
  }
  .wrapper input {
    width: 18rem !important;
    height: 2.5rem;
  }
  .search_icon {
    width: 2rem;
    height: 14px;
  }
}
@media all and (max-width: 820px) {
  .sliders a {
    font-size: 1rem;
  }
  .heading {
    height: 20rem !important;
  }
  .heading p {
    font-size: 2.5rem !important;
    text-align: center;
  }
  .wrapper form {
    width: 20rem !important;
    height: 2.5rem;
  }
  .wrapper input {
    width: 18rem !important;
    height: 2.5rem;
  }
  .search_icon {
    width: 2rem;
    height: 14px;
  }
}
@media all and (max-width: 550px) {
  html {
    font-size: 85%;
  }
  .sliders a {
    font-size: 1rem;
  }
  .heading p {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media all and (max-width: 420px) {
  .heading {
    height: 15rem !important;
  }
  .heading p {
    font-size: 2rem !important;
  }
  .wrapper form {
    width: 18rem;
    height: 2.5rem;
  }
  .wrapper input {
    width: 15rem;
    height: 2.5rem;
  }
  .search_icon {
    width: 2rem;
    height: 14px;
  }
  .sliders a {
    font-size: 1.3rem;
  }
}
@media all and (max-width: 375px) {
  .wrapper form {
    width: 16rem;
    height: 2.5rem;
  }
  .wrapper input {
    width: 13rem;
    height: 2.5rem;
  }
  .search_icon {
    width: 2rem;
    height: 14px;
  }
}
