.heading {
  background-image: linear-gradient(
      to bottom,
      rgba(0.5, 245, 360, 0),
      rgb(1, 1, 1)
    ),
    url("/src/assets/home/suggested_group2.jpg");
  height: 40vh;
  overflow: hidden;
  width: 100%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading p {
  margin: 0 !important;
  color: white;
  font-weight: 600;
  font-family: var(--font-family-roboto) !important;
  width: fit-content !important;
  font-size: 3rem !important;
  letter-spacing: 1px;
}

.mapWrapper {
  border-radius: 12px;
  padding: 16px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px #80808099;
  cursor: pointer;
  transition: all 0.3s;
}
.mapWrapper:hover {
  transform: scale(1.04);
}
.imgWrapper {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #808080d4;
}

.buttons {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
}

.search_bar {
  display: flex;
  align-items: center;
  width: 30rem;
  border-radius: 8px;
  padding: 5px 20px 5px 12px;
  height: 3rem;
  position: relative;
  border: 1px solid #808080db;
}

.search_bar .searchInput {
  border: none;
  outline: none;
  padding: 2px;
  position: absolute;
  right: 0;
  margin: 0 !important;
  width: 27rem !important;
  height: 100%;
  border-radius: 8px;
}
.searchInput[type="text"] {
  color: rgb(0, 0, 0) !important;
}

.searchInput::placeholder {
  color: rgb(0, 0, 0) !important;
}
.NewRequestNamePanel h3 {
  font-size: 1.2rem;
  font-family: var(--font-family-poppins) !important;
}
.NewRequestNamePanel code {
  font-size: 1rem;
  font-family: var(--font-family-poppins) !important;
  color: #979797 !important;
}
.search_icon {
  color: grey;
  cursor: pointer;
}

.catListBtn {
  transform: none !important;
  transition: none !important;
}
.catListBtn:hover {
  border-radius: 12px !important;
  transform: translateY(-5px) !important;
  transition: 0.3s !important;
}
@media all and (max-width: 420px) {
  .search_bar {
    width: 19rem !important;
  }
  .search_bar .searchInput {
    width: 16.5rem !important;
  }
}
