.mapWrapper {
  border-radius: 12px;
  padding: 16px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px #80808099;
}

.imgWrapper {
  width: 150px;
  border-radius: 50%;
  box-shadow: 0px 5px 20px 0px #808080d4;
}

.buttons {
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
}

.search_bar {
  display: flex;
  align-items: center;
  width: 30rem;
  border-radius: 8px;
  padding: 5px 20px 5px 12px;
  height: 3rem;
  position: relative;
  border: 1px solid #808080db;
}

.search_bar .searchInput {
  border: none;
  outline: none;
  padding: 2px;
  position: absolute;
  right: 0;
  margin: 0 !important;
  width: 27rem !important;
  height: 100%;
  border-radius: 8px;
}
.searchInput[type="text"] {
  color: rgb(0, 0, 0) !important;
}

.searchInput::placeholder {
  color: rgb(0, 0, 0) !important;
}
.NewRequestNamePanel h3 {
  font-size: 1.5rem;
}
.NewRequestNamePanel h5 {
  font-size: 1rem;
}
.search_icon {
  color: grey;
  cursor: pointer;
}

.catListBtn {
  transform: none !important;
  transition: none !important;
}
