:root {
  --primary-color: #db3685;
  --bg-color: white;
  --btn-bg-color: white;
  --font-primary-color: black;
  --font-inter-color:  #db3685;
  --font-secondary-color: white;
}

body {
  font-family: 'Work Sans', sans-serif !important;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  transition: 0.3s;
}

button {
  background-color: var(--primary-color);
  color: var(--btn-bg-color);
  border: none;
  border-radius: 12px !important;
  padding: 10px 10px 10px 10px;
}

button:hover {
  color: var(--primary-color);
  background-color: var(--btn-bg-color);
  border-radius: 10px !important;
  transform: translateY(-5px);
  transition: 0.3s;
}

p {
  color: var(--font-primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-primary-color);
}

