.sidebarWrapper {
  position: fixed;
  width: 25% !important;
  background-color: var(--primary-color);
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 2;
  transition: all 0.3s ease;
  transform: translateX(0px);
  
}
.sidebarWrapperNot {
  position: fixed;
  width: 25% !important;
  background-color: var(--primary-color);
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 2;
  transition: all 0.3s ease;
  transform: translateX(-100px);
}

.sidebarUl {
  line-height: 50px;
  text-transform: none;
}
.SidebarBtn {
  z-index: 1;
  border: 3px solid;
  border-radius: 50% !important;
  height: 0.5rem;
  width: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  font-size: 1rem;
}
.name,
.Email,
.links div {
  font-family: var(--font-family-poppins) !important;
}
.links {
  color: var(--font-secondary-color) !important;
}
.links:hover {
  background-color: var(--bg-color);
  border-radius: 12px;
  color: var(--font-inter-color) !important;
  text-transform: uppercase;
  cursor: pointer;
}
.line {
  width: 100%;
  height: 1px;
  background: white;
  position: relative;
  top: 2rem;
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
  .sidebarWrapper {
    width: 75% !important;
  }
}
@media only screen and (max-width: 768px) {
  .sidebarWrapper {
    width: 45% !important;
  }
}
@media only screen and (max-width: 992px) {
  .line {
    display: none;
  }
  .sidebarWrapper {
    width: 60% !important;
  }
}
