.sidebarWrapper {
  position: fixed;
  width: 25% !important;
  background-color: var(--primary-color);
  height: 100vh;
  top: 0;
  right: 0;
  transition: 1s;
  z-index: 10;
}

.sidebarUl {
  line-height: 50px;
  text-transform: none;
}

.links {
  color: var(--font-secondary-color) !important;
}

.links:hover {
  background-color: var(--bg-color);
  border-radius: 12px;
  color: var(--font-inter-color) !important;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .sidebarWrapper {
    width: 75% !important;
  }
}
@media only screen and (max-width: 768px) {
  .sidebarWrapper {
    width: 45% !important;
  }
}
@media only screen and (max-width: 992px) {
  .sidebarWrapper {
    width: 60% !important;
  }
}
