/* .Modalwrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(219, 54, 133, 0.38)\;
}

.modal {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 20vh;
    border-radius: 20px;
    position: relative;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 20px;
} */

.ModalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(219, 54, 133, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.ModalWrapper {
  width: 40%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

.modalTitle {
  margin-bottom: 10px;
}

.closeModal {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.fileLabel {
  display: block;
  margin-top: 10px;
}


@media only screen and (max-width:600px) {
  .ModalWrapper {
    width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    position: relative;
  }
}