.logo {
  background: var(--bs-pink);
  width: 5rem;
  border-radius: 50%;
  height: 5rem;
  padding: 7px;
  margin-bottom: 2rem;
}
.MultiStep {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.wrapper {
  margin-top: 5rem;
}
/* .wrapper p {
  display: none;
} */
.wrapper p {
  font-family: Mulish;
  width: 19rem;
  text-align: center;
  margin: 6px 0px 0px 0px !important;
  font-size: 1rem !important;
}
.wrapper h2 {
  font-family: Work Sans;
  font-size: 2.5rem !important;
  margin: 0 !important;
}
.CompForm input {
  width: 25rem !important;
  height: 3.5rem;
  margin-top: 1.5rem !important;
  border-radius: 6px;
  border: 1px solid gainsboro;
  outline: none;
}
.wrapper span {
  padding: 1px !important;
}
.wrapper span p {
  width: fit-content;
  margin: 0 !important;
  color: #393f45d9 !important;
  font-size: 1.2rem !important;
}
.wrapper span a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 0.95rem;
}
.wrapper button {
  width: 100% !important;
  height: 3.3rem !important;
}
/******************************** CompThree (SelectFile) *******************************/
.compThreeSelectFiles p:nth-child(1) {
  font-size: 1.5rem !important;
}
.compThreeSelectFiles p:nth-child(2) {
  font-size: 1.1rem !important;
}
.compThreeSelectFiles p:nth-child(4) {
  font-size: 1.1rem !important;
}

/******************************** CompThree (Registration) *******************************/
.privacyCheckBox div p {
  margin: 0 !important;
}
.RegistrationInput input,
.privacyCheckBox input {
  width: 1rem !important;
  cursor: pointer;
  height: 1rem !important;
}
.privacyCheckBox input {
  margin-top: 5px !important;
}
.RegistrationInput span p {
  font-size: 1rem !important;
  width: 22rem !important;
  margin-left: 1rem !important;
  color: black !important;
}
.RegistrationInputPara {
  font-size: 1.2rem !important;
  width: 22rem !important;
  padding-left: 2rem !important;
}
.privacyCheckBox div p:nth-child(2) {
  margin-top: 0 !important;
}
@media only screen and (max-width: 361px) {
  h2 {
    font-size: 2rem !important;
    letter-spacing: 1px;
  }
  p {
    width: 16rem;
  }
  input {
    width: 22rem !important;
  }
}
